set timeout=0
set default=0

menuentry "sovetnikOS 0.7" {
    insmod all_video
    insmod gfxterm

    set gfxmode=1024x768x32
    set gfxpayload=1024x768x32

    terminal_output gfxterm

    multiboot /boot/kernel.bin
    module /boot/initrd.tar

    boot
}
